<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<p id="notice"><%= notice %></p>

  <div class="black-box">
<img class="center-block" src="https://p5b3tg.dm2301.livefilestore.com/y3mGeRzy9K-rcoH8pMFO-sr5XJeVlkQMyoJcPBDTyHIgBEBYxgchGGHu3Ja-GobVPLtrP-CslvdDq8XsbwrWJNk0J6hXp2NbvWzQELaUoCy8e9GbTOUmuykOYIxda52zwCkzR8AJkyd2FFunUWI1NtirL-mgSyZ1ynvOyQ_lCDAJEE?width=852&height=852&cropmode=none" alt="...">
<div class="bg-primary center-block">
<p class="text-center" style="">BYTEMECOLLEGE</p>
<p style="font-size: 1.25em">Where courses are reviewed</p>
<!DOCTYPE html>
<htmL>
<head>
 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <hr>
</div>
  </div>

<div class="wallpaper col-md-12"> <!-- Wallpaper -->
<!-- Brandon -->
  <div class="col-sm-12">
     <div class="col-sm-3">
      <a class="thumbnail">
        <img src="https://openclipart.org/image/800px/svg_to_png/194077/Placeholder.png" class="img-circle ">
      </a>
      </div>
      <div class="col-sm-7 text-center">Brandon Abajelo</div>
      <div class="col-sm-7 text-center"><small>Product Manager
<p><a href="https://www.linkedin.com/in/nathanhfoster" target="_blank"><img src="http://icons.iconarchive.com/icons/designbolts/ios8-style-social/1024/Linkedin-icon.png" class="img-responsive img-thumbnail" style="width: 25%; height: 25%"></a> </p></small></div>
   </div>
<!-- JJ -->
  <div class="col-sm-12">
     <div class="col-sm-3">
      <a class="thumbnail">
        <img src="https://openclipart.org/image/800px/svg_to_png/194077/Placeholder.png" class="img-circle ">
      </a>
      </div>
      <div class="col-sm-7 text-center">Jiajun Wu</div>
      <div class="col-sm-7 text-center"><small> Back End Developer
<p><a href="https://www.linkedin.com/in/nathanhfoster" target="_blank"><img src="http://icons.iconarchive.com/icons/designbolts/ios8-style-social/1024/Linkedin-icon.png" class="img-responsive img-thumbnail" style="width: 25%; height: 25%"></a> </p></small></div>
   </div>
<!-- Nathan -->
   <div class="col-sm-12">
     <div class="col-sm-3">
      <a class="thumbnail">
        <img src="https://03nqww.dm2301.livefilestore.com/y3micFYCaHKWddmDOJj_tDGEKV-drLKArgyjSN3VhDXCWDdLn6bSTEs2wxdaToU0TkOhpbPHIjslqLiMi4WzLVMT-PUH0WxhFjth6Bxc6YateKQB8QK71Y5t3OmZSJ_E7MUiO7ak-D7Uh_iJQ2oC7By3ZkGP9pxKdmRMUjE1DB_EA8?width=2760&height=2760&cropmode=none" class="img-circle ">
      </a>
    </div>
      <div class="col-sm-7 text-center">Nathan Foster</div>
      <div class="col-sm-7 text-center"><small>Developer/Designer
    <p><a href="https://www.linkedin.com/in/nathanhfoster" target="_blank"><img src="http://icons.iconarchive.com/icons/designbolts/ios8-style-social/1024/Linkedin-icon.png" class="img-responsive img-thumbnail" style="width: 25%; height: 25%"></a> </p></small></div>
   </div>
<!-- Parth -->
  <div class="col-sm-12">
     <div class="col-sm-3">
      <a class="thumbnail">
        <img src="https://openclipart.org/image/800px/svg_to_png/194077/Placeholder.png" class="img-circle ">
      </a>
      </div>
      <div class="col-sm-7 text-center">Parth Sukhadia</div>
      <div class="col-sm-7 text-center"><small>Designer
<p><a href="https://www.linkedin.com/in/nathanhfoster" target="_blank"><img src="http://icons.iconarchive.com/icons/designbolts/ios8-style-social/1024/Linkedin-icon.png" class="img-responsive img-thumbnail" style="width: 25%; height: 25%"></a> </p></small></div>
   </div>
   </div>
</htmL>
</div> <!-- End of Wallpaper -->

</body>
</html>