<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<p id="notice"><%= notice %></p>

  <div class="black-box">
<img class="center-block" src="https://p5b3tg.dm2301.livefilestore.com/y3mGeRzy9K-rcoH8pMFO-sr5XJeVlkQMyoJcPBDTyHIgBEBYxgchGGHu3Ja-GobVPLtrP-CslvdDq8XsbwrWJNk0J6hXp2NbvWzQELaUoCy8e9GbTOUmuykOYIxda52zwCkzR8AJkyd2FFunUWI1NtirL-mgSyZ1ynvOyQ_lCDAJEE?width=852&height=852&cropmode=none" alt="...">
<div class="bg-primary center-block">
<p class="text-center" style="">BYTEMECOLLEGE</p>
<p style="font-size: 1.25em">Where courses are reviewed</p>

</div> <!-- End of Wallpaper -->

</body>
</html>